/* 아래에 CSS를 작성해주세요. */
.position{
    text-align: center;
}

.subtitle{
    display: block;
    font-size: 12px;
}
.img-list {
    width: 300px;
}
.img{
    width: 300px;
    display: inline-block;
}
.item-img {
    width: 100%;
}