{% extends 'base.html' %}{% block content %}

<h2 class="m-3">정보 상세보기</h2>
<hr>
<div class="m-3">
  <p>작성번호 : {{ d.id }}</p>
  <p>작성시간 : {{ d.date_joined }}</p>
  <p>이름 : {{ d.username }}</p>
  <p>이메일 : {{ d.email }}</p>
</div>
<p>팔로우 : {{ user.followings.count }} | 팔로워 : {{ user.followers.count }}</p>
{% if request.user != d %}
    {% if request.user in d.followers.all %}
    <form action="{% url 'accounts:follow' d.pk %}" method="POST">
      {% csrf_token %}
      <input class='btn btn-outline-danger px-0' type="submit" value="UNFOLLOW" style='width:120px'>
    </form>
    {% else %}
    <form action="{% url 'accounts:follow' d.pk %}" method="POST">
      {% csrf_token %}
      <input class='btn btn-outline-primary px-0' type="submit" value="FOLLOW" style='width:120px'>
    </form>
    {% endif %}

{% endif %}
{% if request.user.pk == d.pk %}
<div class="d-flex justify-content-end">
    <a href="{% url 'accounts:update' %}" class="text-decoration-none btn btn-outline-primary mx-1">
      회원정보 변경
    </a>
    <a href="#" class="text-decoration-none btn btn-outline-warning mx-1">
      비밀번호 변경
    </a>
    <a href="{% url 'accounts:delete' %}" class="text-decoration-none btn btn-outline-danger mx-1">
      회원탈퇴
    </a>
</div>
{% endif %}

{% for article in user_article %}
<p><a class="text-decoration-none m-3" href="{% url 'articles:detail' article.pk %}"> {{ article.id }}번 글: {{ article.title }}</a></p>
{% endfor %}



<hr>
<div>
  
</div>

{% endblock content %}