{% extends 'base.html' %}{% block content %}

  <h2 class="m-3">회원 목록보기</h2>
  <hr>
  <div class="container m-5">
    {% if request.user.is_authenticated %}
      <table class="table">
        <thead>
          <th>ID</th>
          <th>이름</th>
          <th>email</th>
          <th>follower</th>
          <th>following</th>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user.id }}</td>
              <td>
                <a href="{% url 'accounts:detail' user.pk %}">{{user}}</a>
              </td>
              <td>{{ user.email }}</td>
              <td>{{ user.followers.count }}</td>
              <td>{{ user.followings.count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>

{% endblock content %}