{% extends 'base.html' %}{% block content %}{% load django_bootstrap5 %}
<h2 class="m-3">게시글 상세보기</h2>
<table class="table m-5">
    <thead>
        <tr>
          <th scope="col">작성자</th>
          <th scope="col">제목</th>
          <th scope="col">내용</th>
          <th scope="col">작성 시간</th>
          <th scope="col">이미지</th>
        </tr>
      </thead>
    <tbody>
        <th scope="row"><br><a class="text-decoration-none" href="{% url 'accounts:detail' article.user.pk %}">{{ article.user }}</a></th>
        <td><br>{{article.title}}</td>
        <td><br>{{article.content}}</td>
        <td><br>{{article.created_at}}</td>
        {% if article.image %}
        <td><img src="{{ article.image.url }}" alt="review.image" width="170" height="100"></td>
        {% endif %}
        
    </tbody>
</table>

<a class="m-5" href="{% url 'articles:update' article.pk %}"><button type="button" class="btn btn-outline-dark">수정</button></a>
<a href="{% url 'articles:delete' article.pk %}"><button type="button" class="btn btn-outline-dark">삭제</button></a>
<form class="my-3 mx-3" action="{% url 'articles:comment' article.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment layout='inline' %}
    {% bootstrap_button button_type="submit" content="댓글달기" %}
</form>

<br><br>

<h4 class="my-3 mx-3">댓글</h4>
{% if comments %}
<p class="my-3 mx-3"><b>{{ comments.count  }}</b> 개의 댓글이 있습니다.</p>
{% endif %}
<hr>
{% for comment in comments %}
    <p class="mx-3"><a class="text-decoration-none" href="{% url 'accounts:detail' article.user.pk %}">{{ comment.user }}</a> - {{ comment.content }}</p>
    {% if request.user == comment.user %}
    <form class="my-3 mx-3" action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
    </form>
    {% endif %}
    <hr>    
{% empty %}
    <p>댓글이 없습니다.</p>
{% endfor %}
{% endblock content %}