{% extends 'base.html' %}{% block content %}
<div class="d-flex justify-content-between">
  <h2 class="m-3">게시글 목록</h2>
  <div class="d-flex justify-content-center mt-3" style="height: 35px;">
    <form class="d-flex" role="search" action=" {% url 'articles:search' %}">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
          name="search">
      <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  </div>
</div>
<hr>
{% if request.user.is_authenticated %}
<div class="d-flex justify-content-end mx-5 my-3">
  <a href="{% url 'articles:create' %}"><button type="button" class="btn btn-outline-dark">게시글 작성하기</button></a>
</div>
<table class="table mx-5">
  <thead>
    <tr>
      <th scope="col">번호</th>
      <th scope="col">작성자</th>
      <th scope="col">제목</th>
      <th scope="col">내용</th>
      <th scope="col">댓글</th>
      <th scope="col">LIKE</th>
      <th scope="col">thumbnail</th>
    </tr>
  </thead>

  <tbody>
    {% for r in articles %}
    <tr>
      <th scope="row"><br>{{r.id}}</th>
      <td><br>{{ r.user }}</td>
      <td><br><a class="text-decoration-none" href="{% url 'articles:detail' r.pk %}"> {{r.title}}</a></td>
      <td><br>{{ r.content }}</td>
      <td>댓글 수 :{{ r.comment_set.count }}</td>
      <td>LIKE :{{ r.like_users.all|length }}</td>
      <td><img src="{{ r.thumbnail.url }}" class="card-img-top" alt="{{ content.thumbnail.url }}" style="height: 100px; width: 100px;" ></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h3>로그인을 해주세요.</h3>
{% endif %}
<hr>
{% endblock content %}